
.buttoninfo1:hover{
    transform: translate3d(0, -3px, .01px);
}
/* fade in out animation*/
.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards, fade-out 4s 1s ease-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* Page Scroll animation*/
.pgscroll {
  animation: pgsrcoll linear;
  animation-timeline: view();
  animation-range: entry 10% cover 25%;
}

@keyframes pgsrcoll {
  from {

      transform: scale(0.7);

  }

  to {
      opacity: 1;
      transform: scale(1);

  }
}
 /* Subscribe section */
 .rows{
  height: 100vh;
}
.form-control {
  display: block;
  width: 100%;
  min-height: calc(1.5em + .75rem + 2px);
  padding: .575rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card{

  padding: 20px;
  background-color: #eee;
      padding-bottom: 50px;
  padding-top: 50px;

}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #04212e;
  outline: 0;
  box-shadow: none;
}
.border-rad:hover{

  background-color: #04212e !important;
 border-color: #04212e !;

} 
/*  Back to Top  */
.back-to-top {
	position: fixed;
	color: rgba(4, 33, 46,0.4) !important;
	right: 0px;
	bottom: 10px;
	z-index: 11;
  }
